<template>
    <nav>
        <div class="slds-grid slds-grid_align-spread slds-grid_vertical-align-center slds-p-horizontal_medium">
            <div class="slds-col">
                <a href="/">
                    <img src="/public/assets/honda/honda-logo.svg" alt="Honda logo" height="80px" width="200px"/>
                </a>
            </div>
            <div class="slds-col">
                <a href="/select_car?">Build your CR-V</a>
            </div>
        </div>
    </nav>
</template>